---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = "About Me";

const identity = {
  firstName: "Hasan Karakus",
  country: "UK",
  occupation: "Product Owner",
  hobbies: ["photography", "writing", "gym", "sports"],
};
---
<BaseLayout pageTitle={pageTitle}>
  <h1>{pageTitle}</h1>
  <p>My name is Hasan</p>
</BaseLayout>