---
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
const allPosts = await Astro.glob('../pages/posts/*.md');
const pageTitle = "Blog";
---

<BaseLayout pageTitle={pageTitle}>
	<h1>WIP Astro personal blog/site</h1>
	<p>You'll soon be able to read cool shit I write</p>
	{allPosts.map((post) => <BlogPost url={post.url} title={post.frontmatter.title} />)}
</BaseLayout>
