---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle="Home">
  <h1>Boring Home Page</h1>
  <h2>Something cool will go here to catch the eye, maybe even a batter home layout</h2>
  <p>Yes definitely a cooler layout as it's just blannndddd for now</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, maiores nulla. Consequatur amet omnis dolor, ipsam quis tenetur nobis exercitationem, eum doloribus repudiandae quaerat corrupti, rerum neque magni fuga minima!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, maiores nulla. Consequatur amet omnis dolor, ipsam quis tenetur nobis exercitationem, eum doloribus repudiandae quaerat corrupti, rerum neque magni fuga minima!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, maiores nulla. Consequatur amet omnis dolor, ipsam quis tenetur nobis exercitationem, eum doloribus repudiandae quaerat corrupti, rerum neque magni fuga minima!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, maiores nulla. Consequatur amet omnis dolor, ipsam quis tenetur nobis exercitationem, eum doloribus repudiandae quaerat corrupti, rerum neque magni fuga minima!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, maiores nulla. Consequatur amet omnis dolor, ipsam quis tenetur nobis exercitationem, eum doloribus repudiandae quaerat corrupti, rerum neque magni fuga minima!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, maiores nulla. Consequatur amet omnis dolor, ipsam quis tenetur nobis exercitationem, eum doloribus repudiandae quaerat corrupti, rerum neque magni fuga minima!</p>
  <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Dolores, maiores nulla. Consequatur amet omnis dolor, ipsam quis tenetur nobis exercitationem, eum doloribus repudiandae quaerat corrupti, rerum neque magni fuga minima!</p>
</BaseLayout>