---
---
<footer>
<div class="social-icons">
  <svg width="46" height="46" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.github.com/hasankarakus">
    <path fill-rule="evenodd" d="M12 3c-4.972 0-9 4.028-9 9a9.001 9.001 0 0 0 6.155 8.54c.451.082.616-.193.616-.434 0-.213-.01-.779-.012-1.529-2.505.542-3.032-1.207-3.032-1.207-.41-1.04-1-1.318-1-1.318-.817-.557.062-.545.062-.545.902.064 1.377.926 1.377.926.803 1.377 2.106.978 2.62.75.081-.583.316-.979.57-1.204-1.998-.226-4.098-1-4.098-4.448 0-.984.351-1.787.926-2.417-.091-.225-.402-1.142.087-2.382 0 0 .756-.24 2.476.923A8.615 8.615 0 0 1 12 7.354a8.615 8.615 0 0 1 2.253.301c1.72-1.163 2.473-.923 2.473-.923.492 1.24.184 2.157.09 2.382.578.63.923 1.433.923 2.417 0 3.457-2.103 4.216-4.107 4.442.322.275.61.826.61 1.664 0 1.204-.01 2.174-.01 2.47 0 .24.162.52.619.433A9.003 9.003 0 0 0 21 12c0-4.972-4.028-9-9-9Z" clip-rule="evenodd"></path>
  </svg>
  <svg width="46" height="46" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.linkedin.com/in/hasankarakus">
    <path d="M5.625 3.75C4.6 3.75 3.75 4.6 3.75 5.625v12.75c0 1.025.85 1.875 1.875 1.875h12.75c1.025 0 1.875-.85 1.875-1.875V5.625c0-1.025-.85-1.875-1.875-1.875H5.625Zm0 1.5h12.75c.214 0 .375.161.375.375v12.75a.367.367 0 0 1-.375.375H5.625a.367.367 0 0 1-.375-.375V5.625c0-.214.161-.375.375-.375Zm2.203 1.29a1.29 1.29 0 1 0 0 2.577 1.29 1.29 0 0 0 0-2.578Zm6.774 3.42c-1.076 0-1.79.59-2.086 1.15h-.047v-.985h-2.11v7.125h2.204v-3.516c0-.928.184-1.828 1.335-1.828 1.134 0 1.149 1.05 1.149 1.875v3.469h2.203v-3.914c0-1.916-.407-3.375-2.648-3.375Zm-7.852.165v7.125h2.227v-7.125H6.75Z"></path>
  </svg>
  <svg width="46" height="46" fill="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"xmlns:xlink="mailto:hello@hasankarakus.io?subject=Nice blog Hasan!">
    <path d="M2.25 6v13.5h19.5V6H2.25Zm3.234 1.5h13.032L12 11.836 5.484 7.5Zm-1.734.656 7.828 5.227.422.258.422-.258 7.828-5.227V18H3.75V8.156Z"></path>
  </svg>
</div>
</footer>